* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #2dcc70;
/*    background-attachment:fixed;*/
  font-family:'HelveticaNeue', 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  height: 100%; /*1136px;*/
  min-height: 1136px;
  position: relative;
  margin: 0px;
}

/* Portrait layout (default) */
.app, #home {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #2dcc70;
/*  left: auto;
  right: auto;
*/  text-align:center;
/*  height: 100%;
*/  padding: 0px 20px 0px 20px;
  /* margin: -115px 0px 0px -112px; -*/
}

#about_gt, #faqs {
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #2dcc70;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

#faqs {
    margin-bottom: 240px;
}

  /* Landscape layout (with min-width) */
/*  @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
      height: 100%;
      margin: 0;
      background-position:center center;
      padding:20px 20px 0px 20px;
    }
  } */

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

img {
  margin-bottom: 60px;
}

a.button {
  display:block;
  text-decoration:none;
  text-align:center;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
  border-radius: 8px;
  font-size: 36px;
  font-weight:bold;
  color: #ffffff;
  background-color: #27ad5f;
  bottom: fixed;
}

footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  background-color: #000000;
  width: 100%;
}

a.footer {
  text-decoration: none;
  text-align: center;
  background-color: #333333;
/*  border-right-style: solid;
  border-left-style: solid;
  border-right-width: 2%;
  border-left-width: 2%;
*/
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 36px;
  font-weight:bold;
  color: #ffffff;
  width: 49.5%;
  display: inline-block;
  position: relative;
}

.question {
  display: block;
  color: #ffffff;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  width: 90%;
  border-top: 1px solid #999;
  padding-top: 40px;
  padding-bottom: 10px;
  height: 80px;
}

dt {
  bottom: 0;
}

dd.inactive {
  display: none;
}

dd.active {
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  text-align: left;
  display: block;
  animation: highlight 1s ease;
    -webkit-animation: highlight 1s ease;
    -webkit-animation-name: highlight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: initial;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-direction: initial;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: initial;
    -moz-animation: highlight 1s ease;
    -o-animation: highlight 1s ease;
  color: #333333
}
